*.sln
*.svd
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.unityproj
*.booproj

*.apk

/Library/*
/Temp/*

.DS_Store
Thumbs.db

*~
.idea/

*.pdb
*.pdb.meta
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.scc

/obj/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
